body{
    background-color: black; 
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:blanchedalmond;
    font-size:larger;
    text-align: justify;
}
summary{
    text-align:center;
    position: sticky;
    top:0;
    cursor:pointer;
}
h1{
    width: fit-content;
    cursor:pointer;
}
td{
    white-space: pre-line;
}

textarea{
    resize:none;
    background-color: rgb(25, 53, 73);
    color:antiquewhite;
    font-family:serif;
    font-size: large;
    height:15em;
    width:15em;
}
iframe{
    background-color: rgb(25, 53, 73);
}
table{
    font-size: larger;
}
#title, #title1 {
    margin-top: 4%;
    margin-bottom: 3%;
}
tr,td{
    padding: 25px;
}
#centrarTabla  {
    margin-left: 23%;
}
#centrarTabla2 {
    margin-left: 10%;
}
#seudoCode {
    font-size: large;
}