 /* audio player */
  .aPb {
      padding: 0;
      border: 0;
      background: transparent;
      cursor: pointer;
      outline: none;
      width: 40px;
      height: 40px;
      float: left;
  }
  #draggableDiv {
      position:fixed;
      z-index:668;
      outline:none;
      left:1%;
      cursor: default;
      border-radius: 20px;
      height: min-content;
      width: 100px;
      user-select:none;
  }
    #audio-player-container {
      position:absolute;
      cursor: move;
      border-radius: 20px;
      font-style: oblique;
      color:rgb(160, 160, 160);
      background: rgb(0, 0, 0);
      height: 240px;
      width:100px;
      left:-2px;
      --seek-before-width: 0%;
      --volume-before-width: 100%;
      --buffered-width: 0%;
  }
  #audio-player-container::before {
      position: absolute;
      content: '';
      width: calc(100% + 4px);
      height: calc(100% + 4px);
      left: -2px;
      top: -2px;
      background: linear-gradient(to left, #978246, #0c0c0cfd);
      z-index: -1;
      border-radius: 5px;
      transition:1s;
    }
    #audio-player-container:hover::before {
        background: linear-gradient(to left, #c09c37, #0c0c0cfd);
    }
    #audio-player-container:focus:before {
        background: linear-gradient(to left, #c09c37, #0c0c0cfd);
    }
  #plays {
      position:absolute;
      top: -17px;
      margin: 0;
      font-size: 26px;
      font-style: oblique;
      background: transparent;
      color:rgba(250, 246, 233, 0.993);
      z-index:667;
      cursor: pointer;
      opacity: 0;
      transition: opacity 3s 6s;
  }
  .puta {
      display:flex;
      outline:none;
      top:30px;
  }
  #plays:hover {
      color:rgb(255, 255, 255);
  }
  #plays:active {    
      cursor:move;
  }
  #play-icon {
      margin: 20px 2.5% 10px 2.5%;
  }
  path {
      stroke: #806d45;
    }
    path:hover {
      stroke: #cfce65;
  }
  .time {
      width: 37px;
      text-align: center;
      font-size: 20px;
      margin: 28.5px 0 18.5px 0;
      float: left;
  }
  output {
      width: 32px;
      text-align: center;
      font-size: 20px;
      margin: 10px 2.5% 0 5%;
      float: left;
      clear: left;
  }
  #volume-slider {
      margin: 10px 2.5%;
      width: 58%;
  }
  #volume-slider::-webkit-slider-runnable-track {
      background: rgba(0, 0, 0, 0.6);
  }
  #volume-slider::-moz-range-track {
      background: rgba(0, 0, 0, 0.6);
  }
  #volume-slider::-ms-fill-upper {
      background: rgba(0, 0, 0, 0.6);
  }
  #volume-slider::before {
      background:gray;
      width: var(--volume-before-width);
  }
  #volume-slider:hover::before {
    background:rgb(173, 173, 173);
  }
  #volume-slider:active::before {
    background:rgb(245, 245, 245);
  }
  #mute-icon {
      margin: 0 2.5%;
  }
  .aPi[type="range"] {
      cursor: pointer;
      position: relative;
      -webkit-appearance: none;
      width: 48%;
      margin: 0;
      padding: 0;
      height: 19px;
      margin: 30px 2.5% 20px 2.5%;
      float: left;
      outline: none;
      background:black;
  }
  .aPi[type="range"]::-webkit-slider-runnable-track {
      width: 100%;
      height: 3px;
      cursor: pointer;
      background: linear-gradient(to right, rgba(0, 0, 0, 0.6) var(--buffered-width), rgba(0, 0, 0, 0.6) var(--buffered-width));
  }
  .aPi[type="range"]::before {
      position: absolute;
      content: "";
      top: 8px;
      width: var(--seek-before-width);
      height: 3px;
      background-color: #c89a2d;
      cursor: pointer;
    }
    .aPi[type="range"]:hover::before {
      background-color: rgb(255, 210, 62);
  }
  .aPi[type="range"]:active::before {
    background-color: rgb(255, 187, 0);
}
  .aPi[type="range"]::-webkit-slider-thumb {
      position: relative;
      -webkit-appearance: none;
      box-sizing: content-box;
      border: 1px solid #000000;
      height: 15px;
      width: 15px;
      border-radius: 50%;
      background-color: rgb(0, 0, 0);
      cursor: pointer;
      margin: -7px 0 0 1px;
  }
  .aPi[type="range"]:active::-webkit-slider-thumb {
      transform: scale(1.2);
      background: #4b4b4b;
  }
  .aPi[type="range"]::-moz-range-track {
      width: 100%;
      height: 3px;
      cursor: pointer;
      background: linear-gradient(to right, rgba(21, 181, 0, 0.6) var(--buffered-width), rgba(0, 125, 181, 0.2) var(--buffered-width));
  }
  .aPi[type="range"]::-moz-range-progress {
      background-color: #007db5;
  }
  .aPi[type="range"]::-moz-focus-outer {
      border: 0;
  }
  .aPi[type="range"]::-moz-range-thumb {
      box-sizing: content-box;
      border: 1px solid #007db5;
      height: 15px;
      width: 15px;
      border-radius: 50%;
      background-color: #fff;
      cursor: pointer;
  }
  .aPi[type="range"]:active::-moz-range-thumb {
      transform: scale(1.2);
      background: #007db5;
  }
  .aPi[type="range"]::-ms-track {
      width: 100%;
      height: 3px;
      cursor: pointer;
      background: transparent;
      border: solid transparent;
      color: transparent;
  }
  .aPi[type="range"]::-ms-fill-lower {
      background-color: #007db5;
  }
  .aPi[type="range"]::-ms-fill-upper {
      background: linear-gradient(to right, rgba(0, 125, 181, 0.6) var(--buffered-width), rgba(0, 125, 181, 0.2) var(--buffered-width));
  }
  .aPi[type="range"]::-ms-thumb {
      box-sizing: content-box;
      border: 1px solid #007db5;
      height: 15px;
      width: 15px;
      border-radius: 50%;
      background-color: #fff;
      cursor: pointer;
  }
  .aPi[type="range"]:active::-ms-thumb {
      transform: scale(1.2);
      background: #007db5;
  }
  .imai {
    --responsiveImg: 4.5416em;
    width: var(--responsiveImg);
    height: var(--responsiveImg);
    position: relative;
    padding-top: 3%;
    padding-right: 6%;
    display: inline-block;
    cursor: pointer;
    -moz-window-dragging: none;
    -webkit-user-drag: none;
    user-select:none;
  }
  * {
    -webkit-user-drag: none;
    -moz-window-dragging: none;
  }

 /* --------------------------------------------------------------------- */


 /* 300 */
html,body {
    margin: 0;
    height:100%;
    padding:0;
}
body:not(.puta) {
    background-color: rgb(0, 0, 0); 
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:blanchedalmond;
    font-size:2.755341649ch;
    text-align: justify;
}
 /* Intro 300 */
#containerIntro300 {
    background:rgb(0, 0, 0);
    position:absolute;
    height:100%;
    width:100%;
    z-index:669;
    display:flex;
    justify-content: center;
    align-items: center;
}
#intro300 {
    user-select:none;
    transform: translate(1000%,-300%);
    position:fixed;
    transition:0.5s;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    height:min-content;
    font-size: calc(400px + 30vh);
    z-index:999;
     /* Gradient color animation */
    animation: fluidoOff 10s ease-in-out infinite;
    background: linear-gradient(
        -45deg,
        rgba(170, 149, 78, 0.52),
        #b1a87286,
        #70592d8e,
        #978c5093);
    background-size: 300%;
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
}
@keyframes fluidoOff {
    0% {background-position: 0 50%}
    50% {background-position: 100% 50%}
    100% {background-position: 0 50%}
}
#intro300::before {
    content: "3";
}
#intro300::after {
    content:"0";
}
#intro300:hover {
    cursor: pointer;
    animation: fluidoOn 15s ease-in-out infinite;
    background: linear-gradient(
        -45deg, 
        rgb(102, 82, 34), 
        goldenrod,
        rgb(107, 88, 46), 
        rgb(184, 153, 67));
    background-size: 300%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
@keyframes fluidoOn {
    0% { background-position: 0 50% }
    50% { background-position: 100% 50% }
    100% { background-position: 0 50% }
}
 /* Fin del intro 300 */

*::selection {
    color:#f7b64e;
    background-color: #333333;
}
*::-moz-selection {
    color:#f7b64e;
    background-color: #333333;
}
summary:not(.puta) {
    position: sticky;
    top:0;
    cursor:pointer;
    background-color:rgb(0, 0, 0);
    outline: none;
    user-select: none;
    height:9.6vh;
}
summary:hover {
    color:goldenrod;
}
#theEnd {
    width: fit-content;
    cursor:pointer;
    transition: 3.9s;
}
#theEnd:hover {
    width:fit-content;
    color:rgb(255, 255, 255);
    font-size:6ch;
    transition: 1.23s;
}
#div300 {
    display:flex;
    justify-content: center;
    position:sticky;
    z-index: 666;
    height: min-content;
    background-color:black;
}
#h300 {  /* EL TÍTULO 300 */
    user-select: none;
    position:sticky;
    z-index: 666;
    opacity: 0;
    width:min-content;
    cursor:pointer;
    transition: 2s;
    line-height:5vh;
    transition-delay: 3s;
}
 /* SECCIÓN PARA LOS SUMMARIES (el título de cada sección y sus animaciones de cargarse en cascada) */
#section01, #section02, #section03, #section04, #section05, #section06, #section07, #section08, #section09 {
    display:flex;
    justify-content: center;
    position:sticky;
}
    #section01 {
        z-index: 9;
        transition:transform 0.3s;
    }
    #section02 {
        z-index: 8;
        transition:transform 0.6s;
    }
    #section03 {
        z-index: 7;
        transition:transform 1s;
    }
    #section04 {
        z-index: 6;
        transition:transform 1.3s;
    }
    #section05 {
        z-index: 5;
        transition:transform 1.6s;
    }
    #section06 {
        z-index: 4;
        transition:transform 1.9s;
    }
    #section07 {
        z-index: 3;
        transition:transform 2.2s;
    }
    #section08 {
        z-index: 2;
        transition: transform 2.5s;
    }
    #section09 {
        z-index: 1;
        transition: transform 2.7s;
    }
 /* Aquí termina la sección dedicada a los títulos de las secciones (summaries) */

td {
    white-space: pre-line;
}

textarea {
    resize:none;
    background-color: rgb(25, 53, 73);
    color:antiquewhite;
    font-family:serif;
    font-size: large;
    height:15em;
    width:15em;
}
iframe {
    background-color: rgb(25, 53, 73);
}
table {
    font-size: larger;
}
#title, #title1 {
    margin-top: 4%;
    margin-bottom: 3%;
}
tr,td {
    text-align:justify;
    padding: 25px;
}
#seudoCode {
    font-size: large;
}

 /* Diseño minimalista inputs */
input::placeholder {
    font-size: 0.8em;
    text-align: center;
    font-style: italic;
}
input:not(.aPi,.falseButton) {
    color:blanchedalmond;
    margin: 15px 0;
    font-size: 20px;
    padding: 10px;
    width: 250px;
    border: 1px solid rgb(107, 84, 35);
    border-top: none;
    border-left: none;
    border-right: none;
    background: rgba(0, 0, 0);
    outline: none;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
input:hover:not(.aPi,.falseButton) {
    border: 1px solid rgb(255, 255, 255);
    border-top: none;
    border-left: none;
    border-right: none;
}
input:focus:not(.aPi,.falseButton),
input:valid:not(.aPi,.falseButton) {
    border: 1px solid rgb(255, 215, 39);
    border-top: none;
    border-left: none;
    border-right: none;
}
 /* botones vivos */
.botonesSeccionArreglos {
    width:368px;
}
button {
    outline: none;
	box-shadow:inset 0px 0px 10px -50px #fffefa;
	background:linear-gradient(to bottom, #fff186 5%, #f7b64e 100%);
	border-radius:42px;
	border:3px solid #f7b64e;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Verdana;
	font-size:16px;
	font-weight:bold;
	padding:10px 15px;
	text-decoration:none;
	text-shadow:0px 1px -50px #ffffff;
    user-select: none;
}
button:hover:not(.aPb) {
    border:3px solid #ffaa22;
    background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
    color:rgb(31, 11, 11);
}
button:focus:not(.aPb) {
    border:1px solid #ffaa22;
    background:linear-gradient(to bottom, #ff9d00 5%, #ffe205 100%);
    color: rgb(31, 11, 11);
	top:1px;
}
#c17,#c17b {  /* spans cortados a la mitad */
    display:inline-table;
    margin-inline: 6%;
}
#tr10 { /* tabla de multiplicar */
    text-align: center;
    font-size:15.4274pt;
}   

 /* Para la scrollbar UwU */
::-webkit-scrollbar {
    width: 16px;
    background-color: transparent;
}
::-webkit-scrollbar-track {
    -webkit-box: transparent;
    -Moz-border-radius-bottomRight: 100px;
    border-bottom-right-radius: 100px;
    -Moz-border-radius-topLeft: 100px;
    border-top-left-radius: 100px;
    background-color: #00000000;
}
::-webkit-scrollbar-track:hover {
    background-color: transparent;
}
::-webkit-scrollbar-track:active {
    background-color: #555555;
}
::-webkit-scrollbar-thumb {
    background: #434343a9;
    -Moz-border-radius-bottomRight: 100px;
    border-bottom-right-radius: 100px;
    -Moz-border-radius-topLeft: 100px;
    border-top-left-radius: 100px;
    box-shadow:inset 2px 2px 2px hsl(0deg 0% 100% / 25%), inset -2px -2px 2px rgb(0 0 0 / 25%);
}
::-webkit-scrollbar-thumb:hover {
    box-shadow:inset 2px 2px 2px hsl(0deg 0% 100% / 25%), inset -2px -2px 2px rgb(0 0 0 / 25%);
    background-color: rgba(138, 138, 138, 0.89);
}
::-webkit-scrollbar-thumb:active {
    box-shadow:inset 2px 2px 2px hsl(0deg 0% 100% / 25%), inset -2px -2px 2px rgb(0 0 0 / 25%);
    background-image: -webkit-linear-gradient(180deg,transparent,rgb(255, 255, 255) 100%, transparent);
    background-color: rgb(207, 207, 207);
}
 /* FINAL DE LA SCROLLBAR xd */
.gates {display:block}
.gates:hover {
    background-color:#333333;
    cursor:pointer;
    color:whitesmoke;
}
    .gates:hover > em {
        color:#f7b64e;
    }
        .gates > em {
            font-weight:bold;
        }

 /* Diseño de input/button */
.falseButton {
    user-select:none;
    color:whitesmoke;
    outline: none;
	box-shadow: inset 2px 3px 20px rgb(187, 187, 187);
    background:#2b2f33;
	border-radius:42px;
	display:inline-block;
	cursor:pointer;
	font-weight:bold;
	padding:10px 15px;
	text-decoration:none;
    height:26px;
    width: 340px;
    transition:0.5s;
    margin: 15px 0;
    font-size: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    border: 1.5px solid rgb(0, 0, 0);
    border-top: none;
    border-left: none;
    border-right: none;
}
.falseButton:hover {
    box-shadow:inset 4px 4px 20px  #494d4d;
    background:#dadada;
    border: 2px solid dadada;
    border-top: none;
    border-left: none;
    border-right: none;
}
.falseButton:focus,
.falseButton:valid {
    box-shadow:none;
    cursor:text;
    background:black;
    transform: translateY(60px);
    transition:background 1s, transform 0.5s;
    transition-delay: 0.5s, 0s;
    transition-timing-function: ease-in;
    border: 2px solid rgb(231, 168, 33);
    border-top: none;
    border-left: none;
    border-right: none;
}
.falseButton:focus:hover,
.falseButton:valid:hover {
    border: 2px solid rgb(255, 255, 255);
    border-top: none;
    border-left: none;
    border-right: none;
}
.falseButton::placeholder {
    transition:3.5s;
    font-size:18px;
    color:rgb(255, 255, 255);
    font-style: normal;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.falseButton:hover::placeholder {
    color:rgba(0, 0, 0, 0.76);
}
 /* FINAL DEL Diseño de input/button */

 /* DISEÑO DE CUADRÍCULA PARA LOS VECTORES Y LA FLECHA DE LA SECCIÓN ARREGLOS */
 /* DRAG AND DROP */
[draggable] {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
     /* Required to make elements draggable in old WebKit */
    -khtml-user-drag: element;
    -webkit-user-drag: element;
    cursor:grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
    position:relative;
}
[draggable]:active {
    transform:scale(0.9);
    cursor:grabbing;
    cursor:-webkit-grabbing;
    cursor:-moz-grabbing;
}
 /* FINAL DEL DRAG AND DROP */

.vector,
.arrow {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-auto-rows:minmax(50px,auto);
    margin-left:69px;
    margin-right:69px;
    -moz-window-dragging: none;
    user-select: none;
}
.vector > div {
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.431);
    border: 2px solid rgb(227, 180, 79);
}
.vector > div:hover {
    border: 2px solid rgb(255, 255, 255);
}
.vector > div.over {
    border:2px dashed rgb(241, 241, 241);
}
.randBut { /* Un pequeño ajuste a los botones de generar números random */
    block-size: 47px;
}
.arrow > div {  /* Creamos bordes invisibles para la cuadrícula de la flecha, para que su tamaño sea responsive */
    border: solid black;
}
.arrowImg {  /* Dimensiones de las imágenes de las flechas */
    padding-top: 6.9px;
    width:  50%;
    height: 110%;
    user-select: none;
    -webkit-user-drag: none;
}
.arraynferno04 {
    width:fit-content;
    display: flex;
    justify-content:center;
}
.detArr summary {
    position:relative;
    display:flex;
    width:fit-content;
}
#arr666 {
    display:flex;
    justify-content: space-evenly;
    align-items: flex-end;
}
    #arr6l {
        order:0;
    }
    #arrSpan06l {
        order:1;
    }
    #arrSpan06r {
        order:2;
    }
    #arr6r {
        order:3;
    }
        #arr666 button {
            width:260px;
        }
        #arr666 input {
            width:237px;
    }
    #arrSpan06l,
    #arrSpan06r {
        font-size:4em;
        user-select:none;
        font-weight:bold;
    }
        #arr06intro {
            color:black;
        }
.eleven {
    font-weight: bold;
    font-size: 1.5em;
}
 /* FIN DE DISEÑO DE VECTORES */
 /* DISEÑO DE MATRIX */
.matrixCradle {
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
}
.mSpan {  /* div where the matrix's spans are contained */
    justify-self:center;
    font-size:3vh;
    width: 69%;
    height: 15vh;
    overflow: auto;
}
.matrix,
.duality {
    position: relative;
    height: 100vh;         /* 32em */  /* 92vh */
}
    .matrix:hover,
    .duality:hover {
        background: #0C0D10;
    }
        .matrix:hover > .mSpan,
        .duality:hover > .mSpan {
            color:whitesmoke;
        }
        .matrix:hover > .matrixInput,
        .duality:hover > .matrixInput {
            background: #0C0D10;
        }
.cave {
    cursor:pointer;
    width:90%;
    position:absolute;
    display: grid;
    margin-left:4%;
    margin-right:5%;
    -moz-window-dragging: none;
    user-select: none;
}
    .cave > div {
        font-size: 1.5em;
        padding-top: 35px;
        border-radius: 5px;
        background-color: rgb(0, 0, 0);
        border: 3px solid rgb(98, 98, 98);
        height: 9vh;
    }
        .cave > div:hover {
            color:white;
            border: 3px solid #ee9b00;
        }
            .cave > div.over {
                border:3px dashed rgb(255, 255, 255);
            }
.cuad:not(.cuad > p) {
    position:absolute;
    width:90%;
    display: grid;
    margin-left:4%;
    margin-right:5%;
    -moz-window-dragging: none;
    user-select: none;
}
    .cuad > div {
        height: 9vh;
        color: lightgray;
        font-weight: lighter;
        font-style: italic;
        font-size: 1.5em;
        padding-top: 35px;
        border-radius: 5px;
        background-color: rgb(0, 0, 0);
        border: 3px solid rgb(148, 148, 148);
    }  
        .cuad > p {
            position: absolute;
            height: 100%;
            width: 100%;
            display: flex;
            justify-content:center;
            align-items: center;
            margin:0;
            background:rgba(0, 0, 0, 0.815);
            cursor:pointer;                    
        }
            .cuad > p > em {
                margin:0;
                font-weight:lighter;
                margin:auto;
                font-size: 69px;
                opacity: 0;
            }
                .cuad > p:hover > em {
                    opacity: 1;
                }
                    .cuad > p > em:hover {
                        color:whitesmoke;
                    }          
.mAns {  /* matrix answer para los ejercicios que pidan un dato extro */
    font-weight: bolder;
    font-size: larger;
    color: goldenrod;
    position:inherit;
}
    .duality:hover .mAns,
    .matrix:hover > .mAns {
        color: #f7b64e;
    }
.duality {  /* esto posibilita tener dos matrix en un ejercicio */
    grid-column-end: span 2;
    grid-row-end: span 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:12vh 40vh 40vh;
    grid-template-areas: 
    "spn spn"
    "one two"
    "one two";
}
    .duality .mSpan {
        grid-area: spn;
        margin-top: 2%;
    }
        .origin {
            grid-area: one;
        }
            .symmetry {
                grid-area: two;
            }
                .origin,
                .symmetry {
                    position: relative;
                    width: 100%;
                    height: 100%;
                }
                    .origin > div,
                    .symmetry > div { 
                        margin-top:10%;
                    } 
                        .origin > em,
                        .symmetry > em {
                            top: 69px;
                        }         
#lastMatrix::after {
    content: 'UwU';
    font-weight: bolder;
    font-size: 300%;
    width: 100px;
    height: 100px;
    position: relative;
    left: -100%;
    top: 50%
}   
    #lastMatrix:hover::after {
        cursor: pointer;
        color:  #f7b64e;
    }                    
        #lastMatrix:active::after {
            cursor: pointer;
            color: whitesmoke;
        }           
            #dualMatrixInput {
                grid-template-rows:12vh 8vh 40vh 40vh;
                grid-template-areas: 
                "spn spn"
                "inp inp"
                "one two"
                "one two";
            }
                #mi21 {
                    grid-area: inp;
                }
 /* FIN DISEÑO DE MATRIX */
 /* INICIO DISEÑO DE FN -última sección- */
.barBox {  /* the rare barometer */
    user-select: none;
    position: relative;
    width: 30vw;
    height: 9vh;
    background: linear-gradient(to left, 
        rgba(235, 207, 83, 0.635),
        rgba(207, 150, 45, 0.443), 
        rgb(100, 71, 19) );
    box-shadow: inset 0px 15px 5px rgb(255, 255, 255);
    border-radius: 666px;
    cursor: pointer;
}
.barBox::before {  /* the rare barometer container */
    left:-2vw;
    top:-3vh;
    content:'';
    position: absolute;
    width: 34vw;
    height: 15vh;
    border-radius: 10px;
    background: rgb(15, 15, 15);
    z-index:-1;
    box-shadow: 2px 3px 5px 2px rgb(33, 41, 40);
}
    .bgBar {
        position: absolute;
        background: rgba(255, 255, 255, 0.329);
        width: inherit;
        height: inherit;
        border-radius: inherit;
    }
        .bar {
            position: absolute;
            background: inherit;
            width: inherit;
            height: inherit;
            border-radius: inherit;
        }
            .barL,
            .barR {
                opacity: 0.5;
                font-size: larger;
                font-weight: bolder;
                line-height: 8.5vh;
                position: absolute;
                width: 33%;
                height: 100%;
                border-radius: inherit;
                cursor: pointer;
            }
                .barR {
                    left: 67%;
                }
#matrixFn50 .mSpan {
    margin-top: 2vh;
}                
 /* FIN DISEÑO DE FN -última sección- */
 /* THE END, DISEÑO DE LA DESPEDIDA DE 300 */
.theEnd {
    height: 100vh;
    width: 100%;
    font-size: 10vw;
    display: flex;
    justify-content:center;
    flex-direction: column;
    align-content: center;
    line-height: 108%;
    cursor: pointer;
    letter-spacing: -15px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    user-select: none;
    overflow: hidden;
}
    .theEnd:hover {
        background: #0C0D10;
    }
        .endot {
            color: transparent;
        }
            .theEnd h1:hover {
                color:rgb(255, 145, 0);
            }   
                .theEnd h1:active {
                    transform: scale(1.2);
                    color:  #f7b64e;
                }
                    #ripple {
                        top: 0;
                        right: 0;
                        position: fixed;
                        width: 50%;
                        height: inherit;
                        z-index: 3335780;
                        border-radius:50%;
                        border: #ffffff0a solid 100px;
                        transform: scale(0.01);
                        filter:blur(20px);
                        transition: 1.5s;
                    }
#farewell {
    cursor: grabbing;
    overflow: auto;
    line-height: 2000%;
    color: whitesmoke;
    top: -90%;
    position: relative;
    height:94%;
    width: 100%;
    font-size:larger;
}            
    #farewell span {
        display:block;
    }
        #uwu {
            float: right;
        }
            #uwu:before {
                content: 'c:';
                position: absolute;
                z-index: 13241241;
                line-height: 50px;
                bottom: -666%;
                right: 10px;
            }
                #por:before {
                    content: 'uwuw';
                    color: black;
                }
                    #creer:before {
                        content: 'uwuwuwuwu';
                        color: black;
                    }
                        #enmi:before {
                            content: 'uwuwuwuwuwuwuwu';
                            color: black;
                        }
/* end of the end */

/* RESPONSIVE */
    /* INTRO 300 RESPONSIVE */
    @media screen and (max-width: 630px) {
        #intro300 {
            font-size: 60vw;
        }        
    } /* end of INTRO 300 RESPONSIVE */
    
        /* MENU RESPONSIVE */
    @media screen and (max-width: 450px) {

        /* MENU RESPONSIVE */
        #section01, #section02, #section03, #section04, #section05, #section06, #section07, #section08, #section09 {
            font-size: 3vh;
        } /* end of MENU RESPONSIVE */
    
        .imai {
            --responsiveImg: 3.74em;
            width: var(--responsiveImg);
            height: var(--responsiveImg);
            padding-right: 2.4rem;
        } /* end of audio player button/images RESPONSIVE */
    
    }
        /* AUDIO PLAYER RESPONSIVE */
    
    /* audio player button/imgs "dynamic" padding on stretch width */
    @media screen and (max-width: 390px) {
        .imai {
            padding-right: 1.6rem;
            top: 1rem;
            left: 0.9rem;
        }
    }
    @media screen and (max-width: 355px) {
        .imai {
            padding-right: 0.91rem;
            left:0.4rem;
        }
    }

            /* audio player container HEIGHT */
    @media screen and (max-height: 450px) {
        
        /* MENU RESPONSIVE */
        #section01, #section02, #section03, #section04, #section05, #section06, #section07, #section08, #section09 {
            font-size: 2.5vw;
        } /* end of MENU RESPONSIVE */
    } 
     /* end of AUDIO PLAYER RESPONSIVE */
    
     @media screen and (max-width: 480px) {
                 /* title responsive */
        #h300 {
            font-size: 1em; 
            line-height: 1%;
        } /* title responsive */
     }

    /* end of RESPONSIVE section*/


 /* a las clases las llamas con (elemento)."elNombreDeLaClass" :D  */
 /* a los ID las llamas con #"elIDdelElemento" :D */
 /* también puedes llamar elementos HTML con su tag name sin símbolos */